.MainScreen{
	position:relative;
	width:100%;
	height:100%;
}

.MainScreen .section{
	position:relative;
}
.MainScreen .section-main{
	height:150px;
}

.MainScreen .cardsArea{
	position:relative;
	margin:10px;
}

.MainScreen .dealer{
	position:absolute;
	left:0px;
	top:50px;
}
.MainScreen .player0{
	position:absolute;
	left:300px;
	top:-50px;
}

.MainScreen .player1{
	position:absolute;
	left:300px;
	top:150px;
}

.MainScreen .chipsArea{
	position:relative;
}


.MainScreen .seatArea{
	position:relative;
}
.MainScreen .seat{
	position:absolute;
	width:10px;
	height:10px;
	background:#000000;
}

.MainScreen .seat1{
	left:30px;
	top:100px;
}
.MainScreen .seat2{
	left:80px;
	top:70px;
}
.MainScreen .seat3{
	left:130px;
	top:100px;
}
.MainScreen .seat4{
	left:80px;
	top:130px;
}