<script id="tmpl-Card" type="text/html">
    <div class="Card {{if show}}show{{/if}}">
    	<div class="Card-content">
	    	<div class="Card-side Card-bg-content">
	    		<img src="{{:path}}card_back{{:ext}}" width="30" height="40"/>
	    	</div>
	    	<div class="Card-side Card-fg-content">
		    	<img  width="30" height="40"/>
	    	</div>
    	</div>
    </div>
</script>
