<script id="tmpl-MainScreen" type="text/html">
    <div class="MainScreen">
    	<div class="section flip">
    		<div class="actions">
    			<div class="btn btnFlipCard">flip card</div>
    		</div>
    		<div class="section-main">
		    	<div class="cardsArea"></div>
    		</div>
    	</div>
    	<div class="section deal">
    		<div class="actions">
    			<div class="btn btnDealCard">deal card</div>
    		</div>
    		<div class="section-main">
		    	<div class="cardsArea">
	    			<div class="player dealer"></div>
	    			<div class="player player0"></div>
	    			<div class="player player1"></div>
		    	</div>
	    	</div>
    	</div>
    	<div class="section betChips">
    		<div class="actions">
    			<div class="btn btnBetChips">bet chips</div>
    		</div>
    		<div class="section-main">
		    	<div class="chipsArea"></div>
	    	</div>
    	</div>
    </div>
</script>
