<script id="tmpl-MainScreen" type="text/html">
    <div class="MainScreen">
    	<div class="section">
    		<div class="actions">
    			<div class="btn btnFlipCard">flip card</div>
    		</div>
	    	<div class="cardsArea"></div>
    	</div>
    </div>
</script>
