<script id="tmpl-PokerChip" type="text/html">
    <div class="PokerChip">
    	<span class="chips"></span>
    	<span class="value"></span>
    </div>
</script>
<script id="tmpl-PokerChip-chip" type="text/html">
	<img class="chip" src="res/images/pokerchip_{{:imgSrc}}.png" width="15" height="15"/>
</script>
